.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index:  -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg1{
  position: absolute;
    top: 0;
    left: 0;
    z-index:  -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg2{
  position: absolute;
    top: 0;
    left: 0;
    z-index:  -1;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.navBar{
    background-color: rgb(249, 249, 249);
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(57, 42, 155, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif; 
  }
  .navBar1{
    background-color: rgb(249, 249, 249);
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(14, 8, 97, 0.8);
  }
  .navBar1 h1{
    margin-left: 38%;
    color: white;

  }
  
  .navBar h1{
    margin-left: 20px;
    color: white;
  }
  .navBar li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 0.5s;
    
  }
  .navBar li a:hover{
    background-color: rgba(66, 149, 172, 0.8);
    border-radius: 1000px;
    
  
  }
  
  .navBar ul{
    list-style-type: none;
    display: flex;
    gap:35px;
    position:absolute;
    right: 10px;
    top:15px;
  }

  
  
  
  .button-28 {
    appearance: none;
    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 15%;
    box-sizing: border-box;
    color: #e4d7d7;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 20%;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    margin-top: 14%;
    padding: 20px;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .login{
    background-color: rgba(16, 12, 12, 0.8) ;
    height: 400px;
    width: 30%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px rgb(243, 233, 233) solid;
    margin-top: 12%;
    margin-left: 35%;  
    color: #eae8e8;  
  }

  .box {
    background-color: rgba(147, 146, 152, 0.8) ;
    position: relative;
    left: 0px;
    margin-top: 5%;
    height: 10%;
    width: 200px;
    padding:20px ;
    border-radius: 9px;
    box-shadow: 0 0 30px #121010;
    color: #000;
  }

  .login form {
    display:flex;
    flex-direction:column;
    }

   ::placeholder {
    color:#000;
   }


   .size {
    margin-left: 0;
    font-size: 30px;
    color:rgb(13, 1, 1);
   }

   .images{
    align-items: center;
    margin-top: 1%;
    width: 55%;
    height: 60%;
    margin-left: 20%;
  }

  .mainholder{
    height: 1260px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .mainholder h1{
  margin-top: 7%;
  margin-left: 2%;
  color: #e4d7d7;
  }

  .left{
    height: 56%;
    background-color: rgba(14,4,2,255);
    width: 49%;
    position: absolute;
    top: 23%;
    z-index: -1;
    color: #e4d7d7;
    margin-left: 1%;
  }

  .right{
    height: 47%;
    background-color: rgba(145,43,28,255);
    width: 47%;
    position: absolute;
    top: 48%;
    left: 51%;
    color:antiquewhite;
    z-index: -1;
    
    }

  .leftdown{
    height: 56%;
    background-color: rgba(68,103,79,255);
    width: 49%;
    position: absolute;
    top: 90%;
    color:white;
    margin-left: 1%;
    z-index: -1;
  }

  .rightdown{
    height: 54%;
    background-color: rgba(118,81,53,255);
    width: 47%;
    position: absolute;
    top: 850px;
    left: 51%;
    color:white;
    z-index: -1;

  }
   
  p{
    text-align: center;
    width: 90%;
  }

  .inputholder{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:10px; 
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 15px;
  
  }
.inputholder input::placeholder{
  color: rgb(227, 221, 221);
}

.inputholder input{
  background-color: #24549c;
  height: 40%;
  color: #110101;
  width:70%
}
 


.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(83, 111, 173);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.hello{
  margin-left: 90px;
  margin-top: 80px;
  
}

